@import "~@fortawesome/fontawesome-free/css/all.css";
@import '../../../common/styles/grid.scss';
@import '../../../common/styles/base.scss';
@import '../../../common/styles/mixins.scss';
@import '../../../common/styles/variables.scss';

body{
  background-color: #222;
  height: 100%;
}

.Stardb-wrapper {
  max-width: 900px;
  margin: 0 auto;

}
.person-content {
  display: flex;
  flex: 1;
  @include mobile{
    display: flex;
    flex-direction: column;
  }

}
.characters{
  display: flex;
  flex: 50%;
  padding: 16px;
  height: 100%;
  @include mobile {
    padding: 10px;
  }
}
.person-card {
  padding: 16px;
  flex: 50%;
  @include mobile {
    padding: 10px;
  }
}

.toggle-planet {
  width: 150px;
  height: 40px;
  margin: 16px;
  background-color: #ff9100;
  color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  @include mobile {
    margin: 10px;
  }
}